*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* common style and utilities */
body{
    font-family: 'Poppins', sans-serif;
    
}
.btn{
    color: #fff;
    background-color: #E02C6D;
    padding: 8px 15px;
}
.btn:hover{
    background-color: #c91054;
    transition: .8s ease-in-out;
}

.header-section{
    
    background-color: #2D25A0;
    padding-top: 42px;
    padding-bottom: 86px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
 
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 10px;
    font-size: 16px;
    

}
nav ul li:hover{
    background-color:#c91054 ;
}
nav ul li a{
    color: #fff;
}
.login a{
    color: #fff;
    background-color: #E02C6D;
    padding: 5px 15px;
}
.login a:hover{
    background-color: #c91054;
    transition: .8s ease-in-out;
}
.fas{
    margin: 0 5px;
    font-size: 15px;
}

/* Top area section */

   
    /* }
    .top-area{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding-top:50px;
        padding-bottom: 50px;
        margin-bottom: 70px;
        
    }
    .area{
    
    }
    .area h1{
        font-size: 64px;
        font-weight: bold;
        color: #fff;
    }
    .span-unit{
        color: #E02C6D;
    }
    .area a, .btn{
        color: #fff;
        background-color: #E02C6D;
        padding: 8px 15px;

    }
    .area img{
        width: 388px;
        transition: transform 1.5s;
    }
    .area img:hover{
        transform: scale(1.1);
    }  */
/* header section start */

.header-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.header-left h1{
    font-size: 64px;
    color: #fff;
}

.header-right img{
    width: 400px;
    transition: transform 1.5s;
}
.header-right img:hover{
    transform: scale(1.1);
}





/* players items section */

.player-card{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    
}

.player{
    width: 330px;
    padding: 15px;
    box-shadow: 1px 5px 20px rgb(35 40 65 / 13%);
    
}
.player img{
    width: 300px;
    align-items: center;
}
.player h2{
    margin: 10px 0;
}
/* Watch section */
.watch-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
    margin: 80px;
}
.watch-section img{
    width: 500px;
    padding: 5px;
}
.watch-content{
    width: 50%;
    padding: 20px;
}
.watch-content p{
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 120px;
    text-align: justify;
}
.watch-title{
    font-size: 46px;
}
/* schedule section */
.schedule-section{
    padding: 60px;
    background-color: #2D25A0;
    /* box-shadow: 1px 5px 20px rgb(35 40 65 / 13%); */
}

.schedule-info{
}
.schedule-title{
    
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}
.country{
    display: flex;
    /* box-shadow: 1px 5px 20px rgb(35 40 65 / 13%); */
    justify-content: center;
    align-items: center;
    /* background-color: indianred; */
    /* width: 70%; */
}
.country-card{
    background: #fff;
    width: 25%;
    height: 215px;
    padding: 20px;
    text-align: center;
    border-radius: 53px;
}
.country img{
    width: 200px;
}


/* footer area */
.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section{
    margin: 50px 0;
}
.footer-img img{
    width: 300px;
}
.fab{
    margin: 5px;
    font-size: 30px;
    color: gray;
}

/* midea quary section */
@media only screen and (max-width: 688px){
 .players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}
