*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* common style and utilities */
body{
    font-family: 'Poppins', sans-serif;
    
}
.btn{
    color: #fff;
    background-color: #E02C6D;
    padding: 8px 15px;
}
.btn:hover{
    background-color: #c91054;
    transition: .8s ease-in-out;
}
 /* header section start */
.header-section{
    
    background-color: #2D25A0;
    padding-top: 42px;
    padding-bottom: 86px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
 
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 10px;
    font-size: 16px;
    

}
nav ul li:hover{
    background-color:#c91054 ;
}
nav ul li a{
    color: #fff;
}
.login a{
    color: #fff;
    background-color: #E02C6D;
    padding: 5px 15px;
}
.login a:hover{
    background-color: #c91054;
    transition: .8s ease-in-out;
}
.fas{
    margin: 0 5px;
    font-size: 15px;
}


/* header section start */

.header-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.header-left h1{
    font-size: 64px;
    color: #fff;
}

.header-right img{
    width: 400px;
    transition: transform 1.5s;
}
.header-right img:hover{
    transform: scale(1.1);
}





/* players items section */

.player-card{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    
}

.player{
    width: 330px;
    padding: 15px;
    box-shadow: 1px 5px 20px rgb(35 40 65 / 13%);
    
}
.player img{
    width: 300px;
    align-items: center;
}
.player h2{
    margin: 10px 0;
}
/* live section */

.live-match{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.live-now{
    display: flex;
    width: 85%;
    
   
}
.live-now-info,.live-image{
    padding: 10px;
}
.live-info h2{
font-size: 48px;
color: #0A0826;
}
.live-info p{
    font-size: 16px;
    color: #6C6C6C;
}
.live-info{
    margin-bottom: 25px;
}

.match{
    width: 100%;
    
    
}

/* schedule section */
.schedule-section{
    padding: 60px;
    background-color: #2D25A0;
    /* box-shadow: 1px 5px 20px rgb(35 40 65 / 13%); */
}

.schedule-info{
}
.schedule-title{
    
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}
.country{
    display: flex;
    /* box-shadow: 1px 5px 20px rgb(35 40 65 / 13%); */
    justify-content: center;
    align-items: center;
    /* background-color: indianred; */
    /* width: 70%; */
}
.country-card{
    background: #fff;
    width: 25%;
    height: 215px;
    padding: 20px;
    text-align: center;
    border-radius: 53px;
}
.country img{
    width: 80%;
    height: auto;
}
/* Best players section started */
.players-container{
    display: flex;
    justify-content: center;
    margin: 30px;
   
}
.player-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.players-title h1{
    text-align: center;
}
.players-title{
    margin-bottom: 25px;
}
.player{
    position: relative;
}
.player img{
    width: 300px;
}
.player h2{
    text-align: center;
}
.far{
    padding-right: 8px;
}
/* Newsletter section */
.newsletter{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.newsletter-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #544bd0;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}
.newsletter-heading h2{
    font-size: 2em;
    color: #ffffff;
    margin: 15px 0 5px 0;
}
.newsletter-heading p{
    font-size: 16px;
    color: #ffffff;
}
.newsletter-form form{
    display: flex;
    
    align-items: center;
    
}
.newsletter-email,.newsletter-button{
    
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    
}
.newsletter-email{
    width: 300px;
    height: 40px;
    font-size: 16px;
}
.newsletter-button{
    width: 100px;
    height: 45px;
    cursor: pointer;
    background-color: #10437a;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}



/* footer area */
.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section{
    margin: 50px 0;
}
.footer-img img{
    width: 300px;
}
.fab{
    margin: 5px;
    font-size: 30px;
    color: gray;
}

/* media quary section */
@media only screen and (max-width: 688px){
 .navbar{
     flex-direction: column;
 }
 .login{
     text-align: center;
     margin-top: 20px;
 }
    .players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.header-details{
    flex-direction: column;
    padding: 5px;
}
.header-right{
    margin-top: 40px;
}
.player-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.live-now{
    flex-direction: column;
}
.schedule-info{
    flex-direction: column;
}
.newsletter-area{
    display: flex;
    flex-direction: row;
}
.newsletter-form{
    
}
}
/* media query section end */